.carousel {
  width: 100%;
  height: 94vh;
}
.carousel-item img {
  height: 94vh;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem 10rem;
  border-radius: 10px;
  width: 60vw;
}
header {
  font-size: 4rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 2rem;
  margin-top: 10px;
}

.content-section {
  padding: 50px 15%;
}
.intro-bg {
  height: 94vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header_other {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  margin-top: 10vh;
}
#intro1 {
  background-image: url("../../assets/Index/index.jpg");
  height: 94vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#header_other + .row {
  margin: 10vh 0;
}

row.modern {
  margin-top: 50px;
}

.modern-table-wrapper {
  width: 64%;
  margin: 20px auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modern-table {
  width: 100%; /* Matches the wrapper width */
  border-collapse: collapse;
  opacity: 0.9;
  font-size: 1rem;
}

.modern-table th,
.modern-table td {
  padding: 15px;
  text-align: center;
}

.modern-table thead {
  background-color: #222;
  color: #fff;
}

.modern-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.modern-table tbody tr:nth-child(even) {
  background-color: #fff;
}

.modern-table tbody tr.highlight {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

#intro2 {
  background-image: url("../../assets/Index/index2.jpg");
  margin: 0 auto;
  text-align: center;
}

#intro3 {
  background-image: url("../../assets/Index/index3.jpg");
  margin: 0 auto;
  text-align: center;
}

.note {
  color: white;
  font-size: 1.3rem;
}

#intro4 {
  background-image: url("../../assets/Index/index4.jpg");
}
