.section-1 {
  background-image: url("../../assets/SK/sk1.jpg");
}

.section-2 {
  background-image: url("../../assets/SK/sk2.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.section-3 {
  background-image: url("../../assets/SK/sk3.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.lead-landing {
  color: white;
}
