.stats-card {
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 3rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 0;
}

.stats-card:hover {
  filter: none;
  opacity: 1;
  transform: scale(1.05);
}
.stats-card h2 {
  font-size: 3rem;
  margin: 20px 0;
  color: #3498db;
}
.stats-card p {
  font-size: 1.2rem;
  color: #555;
}
.row:hover .stats-card:not(:hover) {
  filter: blur(4px);
}

.stats-card:hover {
  filter: none;
  opacity: 1;
  transform: scale(1.05);
}

.stats-card.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.stats-card.flex-container p {
  width: 45%;
  margin: 5px 0;
  font-size: 1rem;
}
.country-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22vw;
  height: 20vh;
}

.country-card h2 {
  color: darkblue;
}
